# Compiled class files
*.class

# Log files
*.log

# Directory for IntelliJ IDEA
.idea/

# Directory for Eclipse
.metadata/

# NetBeans
/nbproject/

# Maven
target/

# Gradle
.gradle/
build/

# User-specific files
*.iml
*.swp
*~

# Operating System Files
.DS_Store
Thumbs.db